<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('style.css') }}" rel="stylesheet"/>

    </head>
    <body>
        <header>
            {% block titre %} {% endblock %}
            <form name="search" action="{{ path('book_search') }}" method="get">
                <input type="search" name="search" />
                <input type="submit" value="Envoyer" />
            </form>
        </header>
        <main>
            {% block livre %} {% endblock %}
        </main>
    </body>
</html>

