<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('style.css') }}" rel="stylesheet"/>

    </head>
    <body>
        <header>
            {% block titre %} {% endblock %}
        </header>
        <main>
            {% block livre %} {% endblock %}
        </main>
    </body>
</html>

