{% extends 'base.html.twig' %}

    {% block titre %}

        <h1>Ma sélection</h1>

    {% endblock %}


{% block livre %}
        <div class="couleur">
            <h2>{{ book.title }}</h2>
            <p>{{ book.resume }}</p>
            <p class="droite">Fait par : {{ book.author }}</p>
            <p>{{ book.nbPages }}</p>
        </div>
{% endblock %}

